[2020-08-07 12:56] ngehlenborg opened #9 "add indicator to show image controller open/closed status"
Right now it is not obvious that clicking on the image name will show the controllers (or that there are any controllers). We might also want to open the controllers for the first image by default.

[2020-08-07 14:43] manzt commented on #9
#10

[2020-08-07 14:43] #9 closed

[2020-08-11 11:40] ngehlenborg opened #11 "Add README"

[2020-08-11 21:00] #11 closed

[2020-08-14 17:54] oeway opened #22 "Add loading animation"
Depending on the internet speed, sometimes it can be slow to load the image. Would be nice to see a loading animation while waiting.

[2020-08-18 17:04] manzt commented on #22
Thanks for the suggestion! The most recent PR should make the viewer controls load more quickly (so something will be on the screen), but since all data loading is lazy and controlled internally by viv, it is non-trivial and would take digging into deck.gl / viv internals to determine when data have loaded.

Additionally there would also need to be a way to distinguish an initial load from dynamic

[2020-08-18 17:23] oeway commented on #22
I see, but can we setup a hook in the zarr.js store? For example, keep track of all the `getItem` function calls. If there is any unfinished call remaining, we show a loading animation or a busy indicator somewhere in the corner?

[2020-08-18 17:39] manzt commented on #22
Hmm I'd have to think about this.. The issue is that other stores are valid in `vizarr`, including `HTTPStore`, and I want this to stay very minimal:

https://hms-dbmi.github.io/vizarr?source=https://viv-demo.storage.googleapis.com/LuCa-7color_Scan1/data.zarr/0

[2020-08-18 17:46] oeway commented on #22
Sure, it was just a quick thought.

After all, it’s not a bit deal. In Jupyter notebook, there is a busy
indicator at the top right corner. In ImJoy we also track the api call
status.

Nice example image BTW, can we use that in the ImJoy demo? Do you plan to
maintain that dataset?

On Tue 18 Aug 2020 at 19:40, Trevor Manz <notifications@github.com> wrote:

[2020-08-19 16:08] manzt commented on #22
That's a good point.

maintain that dataset?

The dataset is from [Perkin Elmer](https://downloads.openmicroscopy.org/images/Vectra-QPTIFF/perkinelmer/) (1.95 GB)  made available under [CC-BY 4.0](https://creativecommons.org/licenses/by/4.0/) on OME. I'm not sure how long we plan to maintain the dataset. It is currently used as an example for [`Avivator`](http://avivator.gehlenborglab.org), but we

[2020-08-20 10:18] oeway commented on #22
ok, let's close this issue for now.

[2020-08-24 11:26] oeway opened #30 "Provide CDN standalone version"
I would like to do some customization of the viewer for some ImJoy UI plugins, would be nice if you can provide a CDN version, which we can include a js file hosted (e.g. on https://unpkg.io/) via a script tag. This would enables easy customization, e.g. add a load from local file button etc.

[2020-08-24 14:18] manzt commented on #30
I'm on vacation this week, but I'd be happy to discuss this further when I get back! The current build uses Next.js and employs code splitting with dynamic imports, so there is not a single js output.

[2020-08-24 22:44] oeway opened #32 "Add more api functions for removing, updating images etc."
Currently we can only `add_image`, would be nice if we can also reuse the viewer and support, for example:
 1. clear all the added images
 2. remove a specific image
 3. update a specific image, change intensity stretching.

[2020-09-14 15:53] manzt commented on #32
Sorry for the delay on this -- I'm just getting into the swing of things on a new academic schedule. I have been working on something similar to what is requested here on my branch (where I have netlify auto-deploys set up). Do you think this API is nearly sufficient? https://github.com/manzt/vizarr/pull/3/files

I've been working on this for a collaborator, and it would be great to get merged her

[2020-09-14 15:56] manzt commented on #30
I'm not totally sure how to go about this, or what is being asked. Hopefully I can understand better, but currently the JS is tightly coupled to the specific HTML and CSS and I'm not sure how to bundle that for your use case

[2020-09-14 16:34] oeway commented on #30
Not sure what’s possible with react but something like this https://codepen.io/tonytonyjan/pen/OXzJRA

Load vizarr as a react component and render it. Do you think it’s possible?

[2020-09-14 16:50] manzt commented on #30
Ah I see.

Hmm, so the issue is that I'm using [`next.js`](https://github.com/vercel/next.js/) (and not something like [`create-react-app`](https://github.com/facebook/create-react-app)), which is a framework for building "optimized" react applications.

The build command (`next build && next export`) will inline some things in final `index.html` and code split the remaining runtime JS. With somet

[2020-09-14 17:31] oeway commented on #32
No worries.
I had a quick look at your branch, but not sure how to use the `set_view_state`, do I pass a zoom number? And what is target? I assume we can only change the zoom of the view with `set_view_state`.

Ideally, I would like to be able to:
 * change the intensity range, opacity, visibility of each image.
 * update a specific image, which means remove an image and insert one (does image ord

[2020-09-14 17:49] oeway opened #34 "Document the ImJoy API"
Would be nice if we document the imjoy api and provide simple examples, e.g. for `set_viewer_state`.

The recommended way to provide a separate markdown file in this repo and link it in the README. If we also set the url as `docs` key and pass it to the `setupRPC` function, the docs can be shown inside ImJoy via the docs menu.

[2020-09-18 18:14] oeway opened #35 "Icon for vizarr"
Hi, would be nice to provide an icon for vizarr, so the tool will be more recognisable in ImJoy. Do you have idea what to be used? We can also select an emoji: https://getemoji.com/ for now.

[2020-09-22 14:13] manzt commented on #35
Certainly a good idea, and something we are interested in. I'm not sure if you'd have any input here, @ngehlenborg

[2020-09-22 14:30] manzt commented on #34
We currently don't use the `set_viewer_state` API in any of the examples (and I was considering removing to reduce the surface area of the API, except it seems it might be of use to you!). I agree that some documentation, probably just markdown at minimum is needed to help imjoy users.

For now, the `set_viewer_state` sets the `viewState` prop for the `DeckGL` context directly, so it's fairly tied

[2020-09-22 15:36] ngehlenborg commented on #35
We could start with a Viv logo and then derive something for vizarr and Avivator.

[2020-10-05 09:15] oeway opened #38 "Publish the package on unpkg"
For versioning releases of static sites, I just learnt from @thewtex that unpkg can host versioned static sites, as a better alternative solution to netlify previews. This is an example from itk-vtk-viewer: https://unpkg.com/itk-vtk-viewer@10.8.0/dist/index.html .

We can just publish vizarr on npm, and the site will be available on unpkg, what do you think?

[2020-10-05 11:18] manzt commented on #38
This is a great idea -- I had not even considered unpkg! Thanks @thewtex and thank you for bringing this to my attention. This way we can use semver for the releases on npm and the live page on github pages can just mirror the latest master build (or release) -- whatever we decide. I've been hesitant to make changes

I'm not setup to publish to npm under '@hms-dbmi` namespace, but I'll sort out th

[2020-10-05 22:44] oeway commented on #35
Related to this, we recently add more config information for the imjoy-rpc interface of itk-vtk-viewer, see [here](https://github.com/Kitware/itk-vtk-viewer/blob/00c5b7cac522bde5c8769977a2599663f3ed6c0b/dist/index.html#L54-L63). I think would be nice to also add a `docs` field to point to a markdown file, add `authors`, `cover` image etc. We will render these information in the installation dialog

[2020-10-12 15:08] will-moore opened #41 "Support multi-Z and T dimensions with sliders"
The OME zarr has 5 dimensions XYZCT.
But currently it is not possible to change Z and T in the vizarr viewer.
E.g. this image is a Z stack:
https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fs3.embassy.ebi.ac.uk%2Fidr%2Fzarr%2Fv0.1%2F6001240.zarr

Thanks,
  Will.

[2020-10-12 15:10] #38 closed

[2020-10-12 15:22] manzt commented on #41
Thanks for opening the issue, and this is certainly something I've wanted to support in vizarr. The current "blocker" is that the imjoy API allows multiple n-D images to be added as layers, and I haven't decided on where to place these sliders in the UI (or had the time to work on it lately). The two options would be:

1.) Add a slider for non-x/y/channel dimensions (e.g. `z` & `t`) within the "im

[2020-10-12 15:49] will-moore commented on #41
I think option 1 sounds good. If you include `<` and `>` buttons to increment the index then that would still allow you to move small amounts, even with large Z or T stacks.

[2020-10-17 15:16] #41 closed

[2020-10-18 17:08] #30 closed

[2020-10-29 15:38] will-moore opened #45 "Support OME-zarr labels layers"
It would be great to support ome-zarr labels data.
This is a zarr image where values of 0 are transparent (no label) and colour of each label may be specified by metadata:
https://github.com/ome/omero-ms-zarr/blob/master/spec.md#image-label-metadata

I can imagine that loading the zarr data into new layers won't need much new code (happy to have a stab at this), but I don't know how to render part

[2020-10-29 15:56] will-moore commented on #45
Another example of showing / hiding / coloring labels: https://downloads.openmicroscopy.org/presentations/2020/community-call-2020-10-29/OMERO%20Plus,%20PathViewer%20and%20NGFF%202020-10-27.mp4

[2020-10-30 19:03] ilan-gold commented on #45
Yes we use selectable polygon layers from deck.gl while requires pre-processing the data to get polygons but likely will not require any sort of pyramid/multi-resolution handling.

We could certainly write shaders to handle this concept of value-per-color, raster/pixel-based-storage, segmentation mask, especially if this is the direction OMERO is headed - it would be very straightforward to do and

[2020-10-30 19:21] manzt commented on #45
See Will's link above (https://github.com/ome/omero-ms-zarr/blob/master/spec.md#image-label-metadata). The OME-Zarr specification uses (dense) zarr arrays for masks.

[2020-10-30 21:55] manzt commented on #45
@will-moore

Ilan and I talked about this today and I think we have an idea for implementation (likely a new layer with custom shaders). I would be useful to have an example dataset with these arrays to work with. I can't seem to find the an image with "image-label" metadata? Is this different from "masks"?

I've tried opening the examples in ome/ome-zarr-py#30 with the `ome-zarr-py` plugin and th

[2020-10-30 22:33] will-moore commented on #45
Yeah, I had to ask around to find an image with labels. (we are planning a directory page to list all our ome-zarr images soon).
This one has labels:
[code]
The presence of labels is specified by the existence of https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/6001247.zarr/labels/.zattrs

Labels are multi-resolution arrays (same as pixel data) but tiles may be missing if they are all zeros to save spac

[2020-11-02 15:10] joshmoore opened #46 "Change in CORS behavior"
Hi all,

links that were previously working via hms-dbmi.github.io ([6001240](https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fs3.embassy.ebi.ac.uk%2Fidr%2Fzarr%2Fv0.1%2F6001240.zarr), [9822151](https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fs3.embassy.ebi.ac.uk%2Fidr%2Fzarr%2Fv0.1%2F9822151.zarr)) are now failing with:

even though the same link on @will-moore's netlify account ([98

[2020-11-02 15:11] joshmoore commented on #35
If a Viv logo appears by Thursday, I'll add it to my CSHL slides :wink:

[2020-11-02 19:40] manzt commented on #35
Thanks for the heads up @joshmoore! cc: @ngehlenborg

[2020-11-02 19:46] manzt commented on #46
Hmm, this is very odd. I'm wondering if there is some policy on the IDR that will disallow an origin (`hms-dbmi.github.io`) -- perhaps after too many requests? I updated some development dependencies in #44, but I'm fairly doubtful these would have an effect on the CORs policy. I can investigate further.

[2020-11-02 19:51] manzt commented on #46
FWIW, our buckets with permissive access [are working](https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fstorage.googleapis.com%2Fvitessce-demo-data%2Ftest-data%2Fspraggins_ome.zarr)

[2020-11-02 20:01] manzt commented on #46
Update again! The I can confirm that a local build of `master` does not support the routes from the IDR. I'm thinking this is related to the next.js10 upgrade on our end... I'll make a PR.

[2020-11-02 20:50] #46 closed

[2020-11-02 20:54] manzt commented on #46
Fixed. Thanks for pointing this out. It was a sneaking bug I introduced in Zarr.js...

[2020-11-03 08:46] joshmoore commented on #46
_Whew_ Thanks, @manzt! :heart:

[2020-11-03 08:51] joshmoore commented on #46
Ok. Adding https://j.mp/cshl-idr0083 to my presentation then. :tada:

[2020-11-26 11:09] will-moore opened #52 "Plate links open URL with pathname 'vizarr' missing - 404"
For example, clicking a Well of Plate:
https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fminio-dev.openmicroscopy.org%2Fidr%2Fidr0001-graml-sysgro%2FJL_120731_S6A%2Fpr_45%2F2551.zarr

Opens https://hms-dbmi.github.io/?source=....

I need to include `window.location.pathname` in `window.open(window.location.origin + '?source=' + imgSource);`

[2020-11-26 17:25] #52 closed

[2020-11-26 18:04] manzt opened #54 "Run prettier on code base"
#50 adds prettier, and once it is merged, we should format the codebase and add a GH action to check PRs for linting going forward.

[2020-11-28 15:36] will-moore opened #55 "URL source encoded"
If you go to this URL
https://hms-dbmi.github.io/vizarr?source=https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/plates/422.zarr
the URL will appear encoded in the browser as
https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fs3.embassy.ebi.ac.uk%2Fidr%2Fzarr%2Fv0.1%2Fplates%2F422.zarr

Similarly, when you click on a Well, the new URL is https://hms-dbmi.github.io/vizarr?source=https%3A%2F%2Fs3.embas

[2020-11-28 16:43] manzt commented on #55
hmm, on first glance this seems to be specific to how gh-pages and netlify handle forwarding URL query parameters. The former seems to encode the url and then forward vs the latter does not. I _think_ I have an idea for a fix on the client.

I can try to get this in today. BTW, do you have any thoughts on #50?

[2020-11-28 18:45] #55 closed

[2020-11-28 18:58] manzt commented on #55
I think #56 adds a suitable fix for the time being. In fact, if you paste an encoded `source` URI, vizarr will now decode it and replace the href with the "nice" url. (You can try this out by clicking the encoded source url links in this issue.)

For now, the fix is to use `window.history.pushState` which allows you to update the user's history without refreshing the page. Another option would be

[2020-11-28 21:07] oeway commented on #30
@manzt Is this fixed? If so, could you please guide me with an example? I am preparing the ImJoy tutorial for I2K, would like to use this as an example.

[2020-11-30 18:12] manzt commented on #30
Sorry for the delay on this -- I've had an incredibly busy week. I wish that I had something for you tomorrow, but I haven't gotten the chance to merge #50 yet and try out if it's possible to load vizarr as a react component. Right now `vizarr` is still a Next.js export which isn't intended for consumption as a module. `snowpack` creates a pure ESM module of the app, so I _think_ there might be an

[2020-12-02 09:52] manzt commented on #54
#58

[2020-12-02 09:52] #54 closed

[2020-12-02 20:11] manzt opened #59 "Add versioned endpoints to gh-pages for more stable URLs"
### Description

Right now, `https://hms-dbmi.github.io/vizarr` just tracks `master`. For the time being, we haven't noticed regressions (fortunately) on builds, but we should have a more stable way of sharing links in the future.

### Proposal:

Add versioned builds to `gh-pages` so that we have stable links for sharing. For now, `https://hms-dbmi.github.io/vizarr` will continue to track `master`

[2020-12-03 12:18] joshmoore opened #60 "Wrong chunk loaded at low-resolutions"
For http://hms-dbmi.github.io/vizarr?source=https://s3.embl.de/i2k-2020/em-raw.ome.zarr @tischi reported that the browser hangs at this stage:

![Screen Shot 2020-12-03 at 10 05 01](https://user-images.githubusercontent.com/88113/101016876-a752ed00-3569-11eb-9511-0ee500663343.png)

@will-moore pointed out that "it seems even at very low resolution, (where you only have 1 tile) we are getting 404 h

[2020-12-03 12:29] manzt commented on #60
Hmmm let me have a look. First thing that stands out to me is that the axis slider is labeled with a `2` and not `Z`, which likely means vizarr doesn't recognize the multiscale image as OME-Zarr.

[2020-12-03 12:31] joshmoore commented on #60
Related?

[code]

[2020-12-03 12:59] manzt commented on #60
Thanks. I think the first is related. I need to inspect the metadata for the arrays, but my guess is that this is related to the `chunk_shape`.

We currently rely on all non-xy dims having a `chunk_shape` of 1. My best guess is that these data are chunk-optimized for 3D (e.g. 64x64x64).

[2020-12-03 13:04] tischi commented on #60
Yes, they are chunked in 3D. That explains why vizarr was trying to load too large chunk indices in the z-dimension for the lower resolutions.

Is that something that's easy for you to fix?

[2020-12-03 13:07] tischi opened #61 "Play with vizarr code"
@manzt @joshmoore
How hard would it be for me to "play with the code"?
Ideal would be some development environment setup like IntelliJ for Java...
I'd really like to learn some Javascript and this project is super relevant for my work so it would be a great motivation to get my hands dirty... (not sure how much time I will find but the motivation is very large ;-)

[2020-12-03 13:10] joshmoore commented on #61
@will-moore as well since I tend to "play" vicariously. I do know how to build the code (easiest in docker) if that will work for you, @tischi.

[2020-12-03 15:00] manzt commented on #60
Good question. This is a limitation of the chunk loaders we've written for [Viv](https://github.com/hms-dbmi/viv), the library that powers vizarr, which we've designed to support 2D downsampling (e.g. current output of `bioformats2raw`). Short answer is that support would likely require a substantial change to Viv and is not a super easy fix.

With that said, the types of images we support is real

[2020-12-03 15:20] manzt commented on #60
From discussion on slack:

This is a great guess, and I think exactly what is going on. I just realized a recent PR in Viv removed this behavior (https://github.com/hms-dbmi/viv/pull/280) by accident. I'll open an issue.

This is related to the above, and unfortunately there is no way (that I know) to remove those `404`s in the console. The [`HTTPStore` implementation](https://github.com/gzuidhof/

[2020-12-03 16:16] tischi commented on #60
I can leave this image there for you to develop and we (at EMBL) will have a lot of 3D data use cases.
It is essential for us that arbitrary chunking in 3D is supported and it would be amazing if vizarr would do it!
So, super much appreciated and probably many people very happy if you work on this from EMBL's side.

[2020-12-03 16:24] tischi opened #62 "Arbitrary plane slicing"
In BigDataViewer one can interactively change the viewing plane to any plane, non-orthogonal to the voxel space of the image.

In the long run we (EMBL) would need such a functionality in the web as well.

I know the logic of the BigDataViewer implementation in case there is interest and resources to implement this in vizarr.

Rough sketch:

[code]

The `currentViewerTransform` is what you change

[2020-12-03 17:46] manzt commented on #61
It should be very straight forward to get started. The project is set up like most modern JS build tools, but since you are coming from the Java-side I can walk through what is necessary :)

1.) You need to have Node (currently `v15`) to both build and develop.

2.) Necessary, but I'd also recommend installing [VSCode](https://code.visualstudio.com/) as an editor/IDE because it has great support f

[2020-12-03 17:53] manzt commented on #59
I have something spec'd out [here](https://github.com/manzt/vizarr/commit/c86c23de7762a0814872db2a1f2d86cc24a44b64), but having some issues with the gh action that builds the site (it removes the versioned subdirectory from `gh-pages` branch).

[2020-12-03 18:00] manzt commented on #62
Short answer, I'd love to have this an _think_ it could be accomplished with a custom loader for the 3D data you've produced. It would require 1.) creating new UI state to manage changing the viewing angle, and 2.) a custom `ZarrLoader` for Viv that can do the special indexing for data that are chunked in this way.

That said, I'm working on another research rotation right now and doubt I'll have

[2020-12-03 18:08] manzt commented on #59
context: https://github.com/JamesIves/github-pages-deploy-action/discussions/520

[2020-12-03 21:49] manzt commented on #59
this is a priority before we merge any PRs.

[2020-12-04 08:43] oeway commented on #34
This is great, thanks! Do you have any plan to make a docs site? I would suggest an interactive docs like we did during the [ImJoy I2K tutorial](https://imjoy.io/docs/#/i2k_tutorial).

We use docsify to render markdown on the client side, so we only need to add and serve an additional html file, then we can get the docs site running.

I just made one for the Kaibu site:https://kaibu.org/docs/#/api

[2020-12-06 18:19] #59 closed

[2020-12-07 14:48] manzt commented on #34
It would be nice to add some official docs, but I don't currently have a plan to do so due to limited time. Although, `docsify` seems like a great choice and time willing I'll explore adding it to `vizarr`. Thanks for the suggestion!

[2020-12-10 16:38] oeway commented on #34
FYI: Just in case if you want to try the docsify+imjoy solution, we have wrapped the interactive docs into a separate project repo: https://imjoy-team.github.io/imjoy-docs/. And we also provide full instructions on how to easily make it work for your project repo [here](https://imjoy-team.github.io/imjoy-docs/#/?id=make-interactive-docs-for-your-own-git-repository).

[2020-12-29 17:31] manzt opened #69 "Extract OME-Zarr parsing into sharable JS module"
From: https://github.com/vitessce/vitessce/pull/816

The main tension that I see is that Vitessce/Vizarr/Avivator  use a different stack of tools _and_ represent state differently internally, making it hard to re-use components. With that said, the real "shared functionality desired is to derive an _initial state_ from the OME-Zarr source. I see a common pattern of:

1.) Read OME-Zarr url
2.) Deri

[2021-01-07 22:15] will-moore commented on #60
Just looking at this again, I'm seeing a 503 Error from https://s3.embl.de/i2k-2020/em-raw.ome.zarr/.zgroup
@tischi - Is this image still available? Thanks.

[2021-01-08 09:26] tischi commented on #60
@will-moore It should be still there but I think they have a general problem with the S3 storage at EMBL right now.
Please keep trying, maybe again on Monday.

[2021-01-08 10:59] tischi commented on #60
@will-moore Could you try again now?

[2021-01-08 12:55] will-moore commented on #60
Thanks - the top level `.zgroup` is working so I can view something in vizarr. Some chunks are quite slow to load (30 - 60 secs) but that might be my network, and there are some 404s (e.g. https://s3.embl.de/i2k-2020/em-raw.ome.zarr/s2/0.0.0.0.0) but I haven't looked enough yet to know whether they should actually exist or if that's just vizarr needs fixing?

Also just wondering what the UI behavi

[2021-01-08 16:13] tischi commented on #60
The specification of n5 allows for missing chunks. I think ome.zarr as well?!

[2021-01-08 18:54] manzt commented on #60
I'll try to look for the branch where I hacked around on this – it was just a quick hack to figure out what was going on. If I remember correctly, there were a couple of issues:

- 1.) `ZarrLoader.getTile` doesn't handle missing chunks correctly at the moment (https://github.com/hms-dbmi/viv/blob/8efa2b4483b8a6103ec2ef5864ed4410ec2177ae/src/loaders/zarrLoader.js#L68-L104). We currently decode chun

[2021-02-23 20:25] manzt opened #74 "Enable text on HCSPlate"
Follow up to #73. There is just a flag that needs to be enabled in `gridLayer.ts`, but I'm thinking that a UI element to toggle the text would be most desirable, so I left that off the previous PR.

![image](https://user-images.githubusercontent.com/24403730/108903303-2bf25c00-75eb-11eb-88e2-53a1694cff81.png)

[2021-02-23 21:45] manzt opened #75 "[feature] Reuse zarr metadata from one image for others in plate"
### Motivation:

Currently we initialize each `ZarrArray` in a plate layout independently. This means that we make `row x col` requests for `.zarray` metadata _prior_ to fetching any unique pixel data. This can lead to a substantial overhead of just waiting for metadata to load for large plates; time that could be spent fetching the actual pixel data.

In addition, if we do end up supporting multi

[2021-02-23 21:56] manzt opened #76 "[bug?] `loadWell` loads grid of images at highest resolution"
This is something that slipped past me previously, but it seems that `loadWell` (previously `loadOmeWell`) loads a grid of images at the _highest_ resolution. This design choice leads to a lot of data-transfer and slow loading times. Is this the desired behavior?

Ideally the grid could handle multiple multiscale images, but in the mean time should we have some heuristic for which level to choose?

[2021-02-23 22:23] will-moore commented on #76
Yes, it was the intended behaviour since in the examples I've worked with so far, the number of Images in a Well has been relatively small and the images not very big, so the full resolution is more useful than a thumbnail. It was also slightly simpler to load the highest resolution since it doesn't require you to load the resolutions info for a sample image (as we do for the Plate).
But yes, this

[2021-02-23 22:36] will-moore commented on #75
I like the idea. Makes sense and certainly most of the plates I've seen *do* have identical sized images in every Well.
But it's probably too restrictive to say that ALL Plates must have all Images the same size. So we could maybe 'consolidate' that info into a parameter like "all_images_same_size" in the plate metadata?
Maybe open an issue at https://github.com/ome/ngff ?

[2021-02-23 22:47] manzt commented on #75
Sure, I'll look into opening an issue. It's worth noting that in order to render to the grid currently (for plate or well), we require identically sized images:

https://github.com/hms-dbmi/vizarr/blob/1ef216350580b3425468550d2c3473a566af6827/src/gridLayer.ts#L44-L55

And vizarr will throw an error otherwise. So this issue is suggesting that we make that assumption initially as well, when initiali

[2021-02-24 10:20] joshmoore commented on #75
Agreed. I think we have something along the lines of "all dtypes for the multiresolutions will be of the same type" and we might could generalize that for "all items in a certain type of collection".

[2021-03-08 15:05] manzt commented on #35
I've added some sample icons to `assets/`

[2021-03-08 15:05] #35 closed

[2021-03-08 16:12] joshmoore commented on #35
Nice! ![logo](https://github.com/hms-dbmi/vizarr/raw/master/assets/logo-wide.png)

will definitely update my slidedecks.

[2021-03-08 16:36] oeway commented on #35
Nice! BTW, it reminds me the vuejs logo.

[2021-03-30 10:21] will-moore opened #84 "Need to have .zarr in path"
Just starting to work with some zarr data that I have in a directory that doesn't have `.zarr` in the path and I find that this doesn't work due this in `normalizeStore()`

[code]

Is there a need to enforce that `.zarr` exists in the path?

[2021-03-30 20:16] manzt commented on #84
I agree, we should try to avoid special URLs. I made this change so that we could consistently work with `path` rather than relying on `store.url` to walk backward up the hierarchy or link to new tabs.

I chose `.zarr` to signify the `root` of the store, and then open the rest of the path relative to the root rather than re-creating a store from a truncated url.

[code]

vs

[code]

[2021-03-31 15:20] #84 closed

[2021-04-08 09:13] oeway opened #89 "Support lookup table"
Hi, do you support lookup table for images already? Otherwise it would be great to have that.

[2021-04-08 14:43] manzt commented on #89
We don't. I'm actually not sure where this would fit into our rendering pipeline. Out of curiosity, do you know if this is supported in napari? It would likely involve passing the resulting `[r,g,b]` values from our additive blending, but this could create confusion because the slider colors would no longer correspond to the resulting colors in the final rendering.

[2021-05-12 13:32] yarikoptic opened #92 "Unable to visualize a sample zarr with vizarr 0.1"
I am a zarr newbee, and was made aware of vizarr on our DataLad chat: https://app.element.io/#/room/#datalad:matrix.org

Trying https://hms-dbmi.github.io/vizarr/v0.1?source=https://dandiarchive.s3.amazonaws.com/largeuploads/blobs/150slab.zarr/ results in
<details>
<summary>following errors in the console</summary>

[code]
</details>

<details>
<summary>and it seems to be a legit ome-zarr:</summar

[2021-05-12 14:08] manzt commented on #92
Hi there! Thanks for checking out vizarr.

It seems this issue is related to #60. https://github.com/hms-dbmi/vizarr/issues/60#issuecomment-737959386

Currently we support the Zarr generated from `bioformats2raw`, which doesn't downsample/chunk along the z axis. This is something we would really like to support in the future, but a current limitation.

[2021-05-17 12:41] #89 closed

[2021-07-05 15:22] will-moore opened #101 "resolution levels not a factor of 2"
When using OMERO to provide a OME-Zarr interface via https://github.com/will-moore/omero-web-zarr
the size of each pyramid resolution is determined by the pyramid in the original file.

For svs images, the resolution levels are often not a factor of 2. e.g. sample image
https://downloads.openmicroscopy.org/images/SVS/77917.svs

Sizes of resolutions (X, Y) are:
[code]

The OME-Zarr spec doesn't spe

[2021-07-06 14:26] manzt commented on #101
Thanks for opening the issue. This is something I've also run into using vizarr with [`napari-lazy-openslide`](https://github.com/manzt/napari-lazy-openslide).

To my knowledge, this is an assumption that deck.gl makes about image pyramids, so I'm not sure what it would take to support. In `napari`, each resolution is represented as a separate ndarray with it's own `shape`. To this end, `napari` c

[2021-07-06 14:29] #69 closed

[2021-07-06 14:29] #34 closed

[2021-07-06 14:29] #32 closed

[2021-07-06 14:29] #76 closed

[2021-07-12 10:11] joshmoore opened #103 "v0.3 support"
* Spec update: https://github.com/ome/ngff/pull/46
 * Reference data is available under: https://oc.embl.de/index.php/s/KLTaSgX1c4zgnHP
 * ome-zarr-py implementation: https://github.com/ome/ome-zarr-py/pull/89/files

cc: @will-moore @constantinpape @tischi @manzt

[2021-07-12 10:12] joshmoore commented on #103
Sorry, should have filed this earlier. @constantinpape is driving forward on v0.3 and it would be good to know one of:
 * how much time (calculating in holidays) a vizarr release might take? and/or
 * how explosive accessing v0.3 data with current vizarr's might be?

~J.

[2021-07-12 11:48] will-moore commented on #103
With a tiny fix in `isNested()` to handle the missing `omero` metadata in that sample data:

[code]

the data is visible in vizarr:

![Screenshot 2021-07-12 at 12 36 46](https://user-images.githubusercontent.com/900055/125281256-e9b58700-e30d-11eb-8f75-a0988c12336b.png)

but, that data is chunked in 3D (instead of 2D as expected by vizarr), so we get some unexpected behaviour when trying to scroll

[2021-07-12 13:51] joshmoore commented on #103
:heart: Can that be a PR as well?

[2021-07-12 14:23] manzt commented on #103
Looking through the links, it's not totally clear to me what needs to be added to vizarr to support `v0.3`. I guess now we can check if `axes` are present, and if the last two aren't `y` & `x` raise a more helpful error message.

Something I need to think more deeply about is the variable dimension handling. Fortunately vizarr doesn't assume 5D, but some of the logic in the OME- loaders might assu

[2021-07-12 14:30] will-moore commented on #103
Sorry - just started on this already... https://github.com/hms-dbmi/vizarr/pull/104

[2021-07-13 08:51] joshmoore commented on #103
No. And in fact that's what I was referring to with https://github.com/hms-dbmi/vizarr/issues/103#issuecomment-878296905 (a general :+1: on the separate nested/flat PR(s))

[2021-07-13 14:33] manzt commented on #103
Ah, sorry I missed reading that. My mistake. Vizarr probably needs some mechanism like napari to "guess" initial contrast limits for the sliders if rendering metadata isn't present. It's fallback is the full range of values for the dtype, which is not desirable.

[2021-08-03 17:51] claesenm opened #110 "Missing JS assets when running in notebook"
Vizarr recently stopped running in notebooks for me. I ran into this today in an environment that worked before.

The problem appears to be due to the fact that the plugin now fails to load two JS assets (these are no longer available):
- https://hms-dbmi.github.io/assets/vendor.d370befd.js
- https://hms-dbmi.github.io/assets/index.6a904341.js

Both of these GET requests return 404 errors.

I have

[2021-08-03 18:39] manics commented on #110
It looks like the `/vizarr` prefix has somehow gone missing from mybinder ... these files exist:
https://hms-dbmi.github.io/vizarr/assets/index.6a904341.js
https://hms-dbmi.github.io/vizarr/assets/vendor.d370befd.js

[2021-08-03 18:50] manzt commented on #110
Thanks for opening an issue! Let me have a look. I'm guessing that #109 disrupted the current public-path in the production build... my apologies.

`https://hms-dbmi.github.io/vizarr` tracks the current `main` branch for this repository. The ImJoy plugin defined in `example/imjoy_plugin.py` and used in Jupyter/Binder tracks this URL. While I dig into this, you should be able to change:

`https://h

[2021-08-03 18:56] claesenm commented on #110
Thank you for the swift response and the workaround. It is very much appreciated.

I think the root cause of the path issues are the absolute paths in the `vizarr/` response, i.e.,
[code]
Moving from root-relative to relative paths for both assets probably fixes the issue.

[2021-08-03 19:07] #110 closed

[2021-08-03 19:16] manzt commented on #110
Fixed (at least I think so)! Thanks for drawing it to my attention. I had the wrong field specified in the vite config :)

Let me know if you run into any issues now.

[2021-08-03 19:23] claesenm commented on #110
Can confirm the issue is resolved. Thank you for the very fast response!

We will be getting more into Viv & Vizarr on our end. Looking forward to contribute and/or notify you of any issues if we identify them.

[2021-08-12 21:17] manzt commented on #103
Thanks for taking the lead on the changes @will-moore!

[2021-08-13 08:50] joshmoore commented on #103
@manzt : we are getting close to merging the various PRs on the Python side. How are you feeling about a release here? Shall we try to coordinate the process?

[2021-08-13 15:32] manzt commented on #103
I'm happy to cut a corresponding `v0.3` release for vizarr, that sounds great.

[2021-08-18 20:34] oeway opened #114 "channel_axis is length undefined"
Hi, we have some ImJoy plugins uses vizarr that are currently broken due to recent changes.

It complains:
[code]

[Here](https://github.com/muellerflorian/hani-ms2/blob/6fbd56d517a4279bf127122c5f78c68e5dc38757/imjoy-plugins/hani-ms2-sample-1.imjoy.html#L97-L104) you can find the setting.

And with this link you can reproduce the issue:
https://imjoy.io/lite?plugin=https://github.com/muellerfloria

[2021-08-18 21:17] manzt commented on #114
Thanks for pointing this out. I have made a fix

[2021-08-18 21:36] #114 closed

[2021-08-18 21:48] oeway commented on #114
Hi thanks for the quick fix!

Could you please make a new release on npm, ideally I would like to pin the version of vizarr since our plugin links has been listed in a published paper.

[2021-09-09 20:04] camFoltz opened #118 "OME-HCS Compatibility with vizarr"
Hello!

I feel as though I should properly introduce myself as I have been active recently on ImageSC regarding ome-zarr data format.
 I am an RA at the Chan-Zuckerberg Biohub working on optimizing our computational pipelines and we are now migrating towards the OME-zarr format for all of our raw/processed data.  I would like to help you all optimize these viewers (vizarr + ome-zarr-py) as our tea

[2021-09-09 20:24] manzt commented on #118
Hello there - thank you for your interest in using and _improving_ vizarr! I do not work on `ome-zarr-py` or `napari-ome-zarr` directly (pinging: @joshmoore, @will-moore), but I can certainly help investigate this issue.

My guess is that vizzar makes some assumptions about the metadata structure that reflect OME-NGFF published by the IDR (since these have been examples we work with primarily), an

[2021-09-10 09:16] will-moore commented on #118
Hi Cam,
So I guess the `loadPlate()` code (https://github.com/hms-dbmi/vizarr/blob/1585a03706e875917c1be165a80197d5579156d6/src/ome.ts#L110) is making some assumptions in order to reduce the number of calls it has to make.

We only load the first Well to get the path from a Well to an Image (instead of loading all the Wells in the plate).
[code]
That 'imgPath' is then applied to all the other `wel

[2021-09-10 09:26] will-moore commented on #118
Part of the problem is the complexity of the HCS spec, which others have also noted.
We are currently discussing the evolution of this into a more generic "Collections" spec at https://github.com/ome/ngff/issues/31
For example, see the outline at https://github.com/ome/ngff/issues/31#issuecomment-802064440
This should help address the issues we're having here because all the paths to images and ot

[2021-09-13 15:49] camFoltz commented on #118
Thanks @will-moore I see the PR but if you still need more help let me know!  I will look over the discussion and contribute with our team's inputs.

[2021-09-16 15:47] jmontoyam opened #121 "Is it possible to use vizarr for visualizing high-resolution streaming images?"
Hi,

first of all, thank you very much for making this amazing project open-source! ;). I just watched a video that explains vizarr  (Lighting Talk - OME NGFF and Viv - Trevor Manz (HMS)), and I really liked it!, amazing project!. I am a Python user, with a very basic JavaScript level (beginner, but eager to learn more about JS and web technologies). In my use-case, I am interested in creating a w

[2021-09-25 22:01] #103 closed

[2021-09-26 21:14] #118 closed

[2021-09-28 10:44] will-moore opened #123 "View OME-NGFF collection of Images"
We are making progress with defining a specification for a collection of Images at https://github.com/ome/ngff/issues/31
and with generating a collection of OME-NGFF Images (export from OMERO) at https://github.com/ome/omero-cli-zarr/pull/83 so I'm starting to think how we could visualise/browse these.
Although there has been discussion of grouping subsets of a collection by various criteria, in t

[2021-09-28 13:44] will-moore commented on #121
Hi @jmontoyam
When I'm using https://github.com/ome/omero-cli-zarr to export OME-NGFF from OMERO, this creates the image metadata and zarr array at the start of the export, then iterates through all the image planes and writes them to disk.
See https://github.com/ome/omero-cli-zarr/blob/42c56419d68a7e17d5e424222c6596b35cc1d1ba/src/omero_zarr/raw_pixels.py#L33

The export can take a while, but even

[2021-11-03 10:27] BioinfoTongLI opened #127 "Support of ROIs in ome.zarr?"
Hello all,

Thanks for this amazing work! Having interactive image browing within a notebook is really something that helps a lot!
I am wondering whether you are planning on adding some other types of layers at all, such as shapes? I am aware that I can do that with Imjoy and vitessce. They are however much heavier that this amazing inline vizarr.
thanks for you helps in advance!

Best,
Tong

[2021-11-03 18:27] will-moore commented on #127
The "support of ROIs in ome.zarr" should be discussed on the https://github.com/ome/ngff repo.
But for the support of Shapes in vizarr, I started a PR at
https://github.com/hms-dbmi/vizarr/pull/128

[2021-11-03 20:18] BioinfoTongLI commented on #127
Sorry, the title is indeed misleading. Amended.
Awesome! The PR looks great!

[2021-11-03 23:49] will-moore commented on #127
This quickly gets more complex when you consider that you might want to provide Polygons (or other shapes) that should only appear on specific Z and T indices of a multi-dimensional image.
I guess we need to move to providing Shape objects that have optional `z` and `t` indices, but OME-NGFF will soon move to arbitrary named axes (https://github.com/ome/ngff/pull/57) so that needs to be handled to

[2021-11-04 09:29] will-moore commented on #127
Created https://github.com/ome/ngff/issues/73 for OME-NGFF support of Shapes.

[2021-11-04 09:58] BioinfoTongLI commented on #127
Indeed, the actual use case that I am aiming for is to not only show polygons, but also annotations (attached metadata as pd.DataFrame maybe?) while hovering. Although, having polygon overlays is definitely good start for us!

That reminds me another detail, we've been playing with Vitessce recently as well. According to my shallow understanding, Vitessce only support the ome.zarr converted using

[2021-11-04 11:42] will-moore commented on #127
I don't know about Vitessce I'm afraid, but we (OME) certainly aim to support the latest OME-NGFF versions in vizarr. Even if there are some new features of the spec that can't be supported in vizarr, at least it should open the image and support as much as possible.
Since we don't support ROIs in OME-NGFF yet, I don't think that bioformats2raw can preserve them (unless it is simply preserving the

[2021-11-04 17:04] manzt commented on #127
Hi @BioinfoTongLI, thanks for opening the issue!

Vitessce is more feature-rich compared to vizarr; however, that has meant that a combination of data-models are utilized which can be complicated to then support OME-NGFF completely. Vizarr is intended to be much more minimal, and target solely the latest OME-NGFF.

Agreed. The aim is to support as much of the latest OME-NGFF as possible. I'm somew

[2021-11-28 21:03] oeway opened #134 "Vizarr demo for Jupyterlab and JupyterLite in the browser"
I just made a [JupyterLab extension](https://github.com/imjoy-team/imjoy-jupyterlab-extension) for running ImJoy Plugins in side native JupyterLab and JupyterLite in the browser (with Pyodide). Would you be interested in adding some docs and demos for that?

I added a vizarr demo notebook here for JupyterLite: https://jupyter.imjoy.io/ , it's cool to see that the astronaut.zarr example works direc

[2021-11-30 20:48] manzt commented on #134
This looks awesome, Wei! I'll look into adding something to the documentation/examples when I have some free time. Thanks so much for sharing.

[2021-12-10 20:42] oeway opened #138 "Example image link is broken"
The example link is broken again: https://hms-dbmi.github.io/vizarr/?source=https://minio-dev.openmicroscopy.org/idr/v0.3/idr0062-blin-nuclearsegmentation/6001240.zarr

Since Zenodo now supports range request, maybe we can upload an image to zenodo and use that as a more permanent example image?

[2021-12-10 20:47] manzt commented on #138
I think this is related to the IDR being down, but agree with your suggestion! Now thinking of an image to choose. https://twitter.com/IDRnews/status/1469270569858260993

[2021-12-10 20:48] manzt commented on #138
@oeway do you have a zipped-zarr on zenodo?

[2021-12-11 22:51] will-moore commented on #138
Apologies, ebi s3 URLs have been updated - I was just about to let you know, having just updated the links on our blogs: https://github.com/ome/www.openmicroscopy.org/pull/553 (although the blog itself is off-line this weekend due to Dundee uni maintenance).
e.g. https://hms-dbmi.github.io/vizarr/v0.1?source=https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.1/6001240.zarr

[2022-01-27 15:22] aliaksei-chareshneu opened #142 "3D visualization of volumetric data (e.g. segmentations)"
Dear all,

Could you tell me if vizarr currently supports 3D visualization of volumetric data in zarr format, specifically segmentation data, e.g. from microscopy or cell tomography?

Best regards,
Aliaksei

[2022-01-29 20:20] #138 closed

[2022-01-29 20:21] manzt commented on #142
Hello, thanks for taking interest in vizarr! Unfortunately vizarr does not currently support 3D visualization of volumetric data. Some more in-depth discussion can be found in:

- https://github.com/hms-dbmi/vizarr/issues/60#issuecomment-737959386

[2022-01-30 08:01] aliaksei-chareshneu commented on #142
Hello, thank you for the response! If I may ask, why you decided to not support 3D visualisation, given that Viv do support it via raycasting?

[2022-02-01 16:50] manzt commented on #142
Thanks for the question. 3D visualization is a newer feature that we've released in Viv that isn't supported for multiscale volumes or volumes where the data are "chunked" with a chunksize > 1 along the z dimension. Therefore only a subset of Zarr-based volumes are supported by Viv, whereas all OME-TIFF volumes are supported (since for OME-TIFF, chunksize == 1 for all non-XY axes and the format is

[2022-02-02 12:54] oeway opened #143 "View zarr loaded with napari_lazy_openslide"
Hi I am trying to use vizarr with @manzt 's `napari_lazy_openslide`, but vizarr doesn't display it properly. In the browser console I see lots of error (`TypeError: update of ImageLayer({id: 'Background-Image-MultiscaleImageLayer'}): Cannot read properties of undefined (reading 'photometricInterpretation')`)

Here is the code:
[code]

If I print the pyramid in the zarr group:
I get:
[code]

The sc

[2022-02-02 14:40] manzt commented on #143
Hi @oeway ! We currently don't support _interleaved_ RGB/A images in the vizarr client. The last two dimensions of an array _must_ be YX. However, we have added support for this in Viv, and I can look into adding that functionality client-side in vizarr.

I'm sorry, but as a work around on the python side, you could wrap the `OpenslideStore` in another zarr store that performs the translation of `

[2022-02-03 02:10] oeway commented on #143
Hi @manzt Thanks for the detailed explanation!

I started to try the Wrapper code you wrote above, and here is a version with some fix, but still not working:
[code]
You wrote `store[...]` in your previous code, I guess you mean `self._store`?
And the issue now is that the line `buf = self._store[f"{level}/{y}.{x}.0"]` generates error, for example: `KeyError: '7/0.0.0'`. And here are the keys in `

[2022-02-03 02:51] manzt commented on #143
Oh that's my mistake.  The code snippet I shared I just typed here as an idea and didn't test at all.

`self._store` is just a dict containing the zarr metadata. You should call the parent class (`OpenSlideStore`) `__getitem__` method.

[code]

[2022-02-03 09:17] oeway commented on #143
@manzt Thank you! It's working now! Awesome!
<img width="1756" alt="Screen Shot 2022-02-03 at 10 14 10 AM" src="https://user-images.githubusercontent.com/478667/152313730-27c07c43-ff08-422e-8e5b-178a4e460965.png">

For others who might be interested in this, here is the working version for me:
[code]
How do I make it display in color mode, I guess that has to do with the `"omero"` key, right? What

[2022-02-03 13:22] manzt commented on #143
Wow, cool!

Omero key shouldn't be necessary. I believe if you set `channel_axis = 0` the colors should work.

Hmm I'm not sure about this. I have a PR I'm about to merge upgrading Viv (https://github.com/hms-dbmi/vizarr/pull/126), and I wonder if that would vix the issue. In the `run_vizarr` function, you can set the url to the netlify deploy preview link and see if the upgrade fixes it.

Yeah, d

[2022-02-03 15:26] #143 closed

[2022-02-03 15:26] #134 closed

[2022-02-03 15:26] #121 closed

[2022-02-19 06:31] #142 closed

[2022-04-22 05:30] oeway opened #145 "Allow setting z/t plane"
I am building a image exploration tool with a search bar, when user submit some query, we would like to control vizarr to locate to a specific image plane via ImJoy. Can we have something like set_view_state but for setting the z/t plane?

[2022-04-22 05:40] oeway commented on #123
This will be really useful! I have a HCS dataset we published and was wondering exactly the feature you are describing. Have some other use cases too, we want to build a viewer for machine learning datasets, which would also fall into the collection case.

[2022-05-04 15:18] oeway opened #146 "Issue with tissue image display"
Hey, just came across this image from the [IDR blog](https://www.openmicroscopy.org/2020/11/04/zarr-data.html): https://hms-dbmi.github.io/vizarr/?source=https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.1/9798462.zarr

However, it looks like there is an issue with the right side of it:
![Screenshot 2022-05-04 at 17 18 01](https://user-images.githubusercontent.com/478667/166713994-6f864db1-5fc5-4665-acf

[2022-05-04 16:42] will-moore commented on #146
Yes, apologies - 1 or 2 of our early conversions to Zarr had this issue.
cc @sbesson / @joshmoore - we should regenerate this image (or remove it)?

[2022-05-04 16:42] #146 closed, assigned to nobody

[2022-05-05 13:06] will-moore opened #147 "Channel range widget input"
Testing https://hms-dbmi.github.io/vizarr/?source=https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.1/plates/422.zarr/F/1/0
when I click the up/down buttons for the `contrast limits` controls, nothing happens.
If I try to edit the text e.g. try to delete the last 0 from `2000` the slider itself updates to show `200` but the text input still says `2000`.

<img width="319" alt="Screenshot 2022-05-05 at 14

[2022-05-05 13:38] joshmoore commented on #146
@oeway, I've just uploaded a v0.4 version that you can give a try:
https://hms-dbmi.github.io/vizarr/?source=https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.4/idr0073A/9798462.zarr

[2022-05-05 13:48] oeway commented on #146
Awesome! Thank you all!

[2022-05-09 14:18] #147 closed

[2022-05-10 10:33] will-moore commented on #123
@oeway Viewing of a HCS Plate of images in [OME-NGFF HCS layout](https://ngff.openmicroscopy.org/latest/#hcs-layout) is already supported  - See https://www.openmicroscopy.org/2020/12/01/zarr-hcs.html for a few original examples and https://hms-dbmi.github.io/vizarr/?source=https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.3/idr0094A/7751.zarr to view a more recent version. Clicking on the Well thumbnai

[2022-05-10 10:42] oeway commented on #123
Nice! This is the dataset I mentioned earlier https://www.covid19dataportal.se/highlights/immunofluorescence/

Do you think we can use this HCS format?

[2022-05-10 10:47] will-moore opened #149 "Support bioformats2raw layout"
Bioformats2raw exports a "Fileset" of 1 or more Images for some formats, as described at https://github.com/ome/ngff/pull/112
with the paths to them as `0/`, `1/`, etc and names and other metadata in a top-level `/OME/METADATRA.ome.xml`.

Some sample data is available at https://minio-dev.openmicroscopy.org/idr/bf2raw/mdb/martin/sample_files.zarr (that dir contains a `.zattrs` with `{"bioformats2r

[2022-05-10 11:15] will-moore commented on #123
Yes, and I would expect `bioformats2raw` should be able to convert each `plate.ome.tiff` into an NGFF Plate? cc @sbesson

[2022-05-10 11:24] sbesson commented on #123
In general yes` bioformats2raw` should work on any HCS imaging file formats supported by Bio-Formats and preserve the HCS layout (rows, columns, wells, fields of views) in the converted OME-NGFF representation. Input format support alos includes OME-TIFF as long as the metadata has appropriate `Plate` hierarchy.

Note the currently 0.4.0 version of `bioformats2raw` still writes Zarr datasets accor

[2022-05-10 11:32] oeway commented on #123
Thank you for the information, I wonder how you handle irregular HCS collections, e.g. for each well, we may have different number of field of views and maybe with different size, would that work? Try to see the limitations here.

[2022-05-10 12:15] sbesson commented on #123
There should be no limitation to both scenarios, at least at the specification level. Implementations might choose to be more restrictive in their support.
The number of fields of views for each well is defined at the `well` metadata level and the dimensions of each field of views are defined at the level of the datasets for each `multiscales` group.

[2022-05-10 12:42] will-moore commented on #123
I think that `vizarr` GridView for a Plate is restricted to all Wells being the same dimensions.
And I think that the Plate view in `napari` also assumes that all Wells are the same size.

[2022-05-12 09:05] oeway opened #151 "Counter-intuitive layer ordering"
Hi, I just noticed that if we add two or more images to vizarr, the default ordering is a bit counter-intuitive. For most of the applications such as photoshop or napari, the images added later should show on the top of the list in the control UI. Should we change that?

[2022-05-28 17:01] pieper opened #152 "colab notebook not working with zarr"
I tried [the colab link](https://colab.research.google.com/github/hms-dbmi/vizarr/blob/main/example/mandelbrot.ipynb) and I got the zarr error shown in the first image below indicating that the code might work with an earlier version of zarr.

So I changed the first line to `!pip install imjoy zarr==2.10` and was able to load zarr, but ended up with a blank screen as shown in the second image.

![

[2022-05-28 18:19] manzt commented on #152
Thanks for point this out. I will modify the `MandelbrotStore` so that it is compatible with the latest zarr. With `zarr==2.10` I was able to get the notebook to work. You need to drag the bottom left corner of the blue bar to expand the window. Seems like this was a change introduced in imjoy, where there is no default window size.

<img width="636" alt="image" src="https://user-images.githubuser

[2022-05-28 19:43] pieper commented on #152
thanks for the quick response!  Yes, it works to resize the window 👍

[2022-05-31 14:23] joshmoore commented on #149
@ilan-gold @manzt: we are moving closer to a finalization of https://github.com/ome/ngff/pull/112 retroactively for NGFF 0.2-0.4. Do you foresee any blockers for implementing it?

[2022-06-02 16:00] manzt commented on #149
I suggested some changes in #125 to towards some of this behavior. I don't forsee many blockers implementation-wise, but my guess is the biggest challenge will be deciding on a UI. If understand correctly there is no JPEG/PNG thumbnail in the metadata, and this is something that we will need to generate on the client.

One idea is to load these thumbnails on demand (e.g., a table of image names th

[2022-06-03 08:46] joshmoore commented on #149
Correct.

[2022-06-03 17:26] sbesson opened #153 "Loading issue for OME-NGFF 0.4 dataset with large number of channels"
https://hms-dbmi.github.io/vizarr/?source=https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.4/idr0054A/5025551.zarr (XYC with 27 channels) for instance fails to render.

The app has a built-in limitation in the number of supportedchannels https://github.com/hms-dbmi/vizarr/blob/74f1a062ac9f85de29916ea0eebf0bf41aac1ab8/src/utils.ts#L8
For images with large number of channels like multiplexed images, is t

[2022-06-03 18:10] #153 closed

[2022-06-03 18:12] manzt commented on #153
This is a bug, thanks for flagging!

The behavior now is to fallback to the first set of (active) channels defined in the metadata.

[2022-06-04 08:20] sbesson commented on #153
Thanks @manzt for the reactivity as always.

[2022-06-08 08:51] will-moore commented on #149
Re: deciding on a UI...
How do we want to go about that? @manzt do you want to sketch something out? I can update #125 to work with bioformats2raw layout, but I don't know if that's anything like the approach you want or if a fresh start would be preferable?

[2022-06-21 16:40] manzt commented on #149
Hi @will-moore thanks for you patience on this. I was on vacation all of last week and did not have my laptop with me.

My main concern is that Vizarr is primarily a standalone viewer, and I'm not entirely sure where this idea for a metadata/collection view fits into that framework.

On first approximation, it would seem more appropriate to me to have this feature in a separate webpage and then li

[2022-07-06 09:59] joshmoore commented on #149
A heads up that I'll be moving forward with merging the bioformats2raw.layout spec into the v0.4 version within the next week or so.

[2022-08-16 15:01] jstriebel opened #161 "Allow to set position via URL"
It would be great to be able to set the initial position directly in the url, similar to `source`.

[2022-09-15 09:44] joshmoore commented on #149
Ok, so my time estimates were _way_ off (such is life) but we would very much like to get the bioformat2raw.layout into the wild soon. Trevor, how would you like to handle this on the vizarr side? If you're still thinking standalone app, can we redirect users? Or show them an error message?

[2022-09-16 10:57] will-moore commented on #149
Hopefully, https://github.com/ome/ome-ngff-validator/pull/13 can serve as the entry-point for bioformats2raw layout, now that we link out to vizarr for the child images.

[2022-09-22 07:33] joshmoore commented on #149
Definitely think it's a good entrypoint, but my biggest concern would be what do users who don't know about the other app (or don't realize that their S3 URI points to a collection with the new spec) learn what vizarr expects of them?

As a side note: IIUC, this brings us closer to the format used by Vitessce if that simplifies matters.

[2022-10-20 14:34] manzt commented on #149
I think that’s a totally valid concern. What do you think about adding some redirect or prompt if vizarr recognizes a collection?

[2022-10-20 23:09] joshmoore commented on #149
Either seems fine. For a redirect, we might want to add explanatory text on the validator page, "this dataset has multiple images. you can open either ..."

[2022-11-07 14:49] manzt commented on #161
Implemented in #163

[2022-11-07 14:49] #161 closed

[2022-11-07 14:52] manzt opened #164 "Use naming convention for event listener names"
There is no standardization of emitted event names. I'd prefer an `<action>:<emitted>` convention. E.g., rename `viewStateChange` -> `change:viewState`.